:root {
  --main-body-fw-l: 300;
  --main-body-fw-nl: 400;
  --main-body-fw-sb: 600;
  --main-body-fw-eb: 800;
  --main-body-fs-lt: 14px;
  --main-body-fs-nl: 16px;
  --main-body-fs-mm: 18px;
  --main-body-fs-bd: 32px;
  --main-color: #848484;
  --main-body-cr: #111517;
  --main-bg: #fff;
  --main-ho-bg: #f2f2f2;
  --main-hr-dk: url("../images/darkmode.svg");
  --main-ho-sch: url("../images/search.svg");
  --main-body-back: url("../images/back.svg");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/nunitosans400.woff2") format("woff2"),
    url("../fonts/nunitosans400.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/nunitosans600.woff2") format("woff2"),
    url("../fonts/nunitosans600.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/nunitosans800.woff2") format("woff2"),
    url("../fonts/nunitosans800.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--main-color);
  background-color: var(--main-bg);
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.dark {
  --main-body-cr: #fff;
  --main-ho-bg: #202c36;
  --main-bg: #2b3844;
  --main-color: #fff;
  --main-hr-dk: url("../images/icondark.svg");
  --main-ho-sch: url("../images/searchdark.svg");
  --main-body-back: url("../images/backdark.svg");
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* header style start */

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--main-bg);
  box-shadow: 0px 2px 4px #0000000e;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.site-header__link {
  color: var(--main-body-cr);
}

.site-header__button {
  display: flex;
  align-items: center;
  font-weight: var(--main-body-fw-sb);
  font-size: var(--main-body-fs-nl);
  line-height: 22px;
  color: var(--main-body-cr);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.site-header__button::before {
  display: block;
  width: 15px;
  height: 13px;
  margin-right: 10px;
  background-image: var(--main-hr-dk);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px;
  content: "";
}

/* site header style finish  */
/* site hero style start  */

.hero {
  background-color: var(--main-ho-bg);
}

.hero-wrapper {
  padding: 45px 0;
}

.hero-top {
  margin-bottom: 85px;
}

.hero-top__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-form__box {
  display: flex;
  align-items: center;
  width: 480px;
  overflow: hidden;
  background-color: var(--main-bg);
  box-shadow: 0px 2px 9px #0000000e;
  border-radius: 5px;
}

.hero-form__box::before {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 20px 0 30px;
  background-image: var(--main-ho-sch);
  background-size: 18px;
  background-repeat: no-repeat;
  content: "";
}

.hero-form__input {
  width: 100%;
  padding: 18px 5px;
  font-weight: var(--main-body-fw-nl);
  font-size: var(--main-body-fs-lt);
  line-height: 20px;
  color: var(--main-body-cr);
  background-color: var(--main-bg);
  border: none;
}

.hero-form__input::placeholder {
  font-weight: var(--main-body-fw-nl);
  font-size: var(--main-body-fs-lt);
  line-height: 20px;
  color: var(--main-color);
}

.hero-form__input:focus {
  outline: none;
}

.hero-form__select {
  width: 200px;
  padding: 18px 24px;
  font-weight: var(--main-body-fw-nl);
  font-size: var(--main-body-fs-lt);
  line-height: 20px;
  appearance: none;
  color: var(--main-body-cr);
  background-color: var(--main-bg);
  box-shadow: 0px 2px 9px #0000000e;
  border: none;
  border-radius: 5px;
}

.hero-form__select:focus {
  outline: none;
}

.hero-list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.hero-item {
  width: 264px;
  padding-bottom: 40px;
  overflow: hidden;
  background-color: var(--main-bg);
  box-shadow: 0px 0px 7px 2px #00000007;
  border-radius: 5px;
}

.item-link__img {
  margin-bottom: 24px;
}

.item-link__heading {
  margin: 0 0 16px 24px;
  font-weight: var(--main-body-fw-eb);
  font-size: var(--main-body-fs-mm);
  line-height: 26px;
  color: var(--main-body-cr);
}

.item-link__paragrph {
  margin: 0 0 8px 24px;
  font-weight: var(--main-body-fw-sb);
  font-size: var(--main-body-fs-lt);
  line-height: 16px;
  color: var(--main-body-cr);

}

.item-link__paragrph:last-child {
  margin-bottom: 0;
}

/* site hero style finish  */
/* site intiro style start  */

.intiro-wrapper {
  padding: 80px 0;
}

.intiro-link {
  display: flex;
  align-items: center;
  width: 135px;
  margin-bottom: 80px;
  padding: 10px 32px;
  font-weight: var(--main-body-fw-l);
  font-size: var(--main-body-fs-nl);
  line-height: 20px;
  color: var(--main-body-cr);
  background-color: var(--main-bg);
  box-shadow: 0px 0px 7px #0000004b;
  border-radius: 6px;
}

.intiro-link::before {
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-image: var(--main-body-back);
  background-repeat: no-repeat;
  background-size: 14px;
  content: "";
}

.intiro-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intiro-box__img {
border-radius: 5px;
}

.intiro-box__text {
  margin-left: auto;
}

.intiro-box__heading {
  margin-top: 0;
  margin-bottom: 23px;
  font-weight: var(--main-body-fw-eb);
  font-size: var(--main-body-fs-bd);
  line-height: 44px;
  color: var(--main-body-cr);
}

.intiro-box__list {
  display: flex;
  margin-bottom: 65px;
  column-gap: 140px;
}

.intiro-box__paragrph {
  margin: 0 0 20px;
  font-weight: var(--main-body-fw-sb);
  font-size: var(--main-body-fs-nl);
  color: var(--main-body-cr);
}

.intiro-box__paragrph:last-child {
  margin-bottom: 0;
}

.intiro-box__content {
  display: flex;
  align-items: center;
}

.intiro-box__strong {
  margin-right: 16px;
  font-weight: var(--main-body-fw-sb);
  font-size: var(--main-body-fs-nl);
  line-height: 24px;
  color: var(--main-body-cr);
}

.intiro-box__link {
  margin-right: 10px;
padding: 5px 27px;
font-weight: var(--main-body-fw-l);
font-size: var(--main-body-fs-lt);
line-height: 19px;
color: var(--main-body-cr);
background-color: var(--main-bg);
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
border-radius: 2px;
}

.intiro-box__link:last-child {
margin-right: 0;
}

/* site intiro style finish */
/* site mani style finish  */